<nav class="{{ include.navclass }}">
  <a href="/{{ page.lang | prepend: site.baseurl }}/"><img src="/img/{{include.logo}}" alt="Beyond Coding Logo" /></a>
  <ul>
    {% assign pages=site.data.pages[page.lang] | where:'show-navigation', true %}
    {% for my_page in pages %}
      <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    {% assign language_pages=site.pages | where:'ref', page.ref | sort: 'lang' %}
    {% for language_page in language_pages %}
      {% if language_page.lang != page.lang %}
        <li><a href="{{ language_page.permalink }}" class="{{ language_page.lang }}">{{ site.data.languages[language_page.lang].title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% assign legal=site.data.pages[page.lang] | where:'ref', 'legal' %}
  <a href="{{ legal[0].url | prepend: site.baseurl }}">{{ legal[0].title }}</a>
</nav>
