---
layout: engage
---

<div class="banner valign-wrapper">
    <div class="valign">
      <div class="row">
        <div class="col s12 push-m6 m6 push-l6 l6">

          <h2>{{ site.data.text[page.lang].home.engage }}</h2>
          <h1>beyond
            <br class="hide-on-large-only" />
            <strong>productive</strong>
            <strong>efficient</strong>
            <strong>coding</strong>
          </h1>
          <p><a href="./trainings/." class="animsition-link">{{ site.data.text[page.lang].home.seetrainings }}</a></p>

        </div>
      </div>
    </div>
</div>
